body{
   background-color: red;
}
#gameField{
   background-color: blue;
   position: relative;
   display: inline-block;
   height: 960px;
   width: 1280px;
   margin-left: 5px;
   margin-top: 5px;
   text-align: center;
}
.celNul{
   background-color: gray;
   height: 48px;
   width: 64px;
   margin: 5px;
   float: left;
}
.cel0{
   background-color: green;
   height: 48px;
   width: 64px;
   margin: 5px;
   float: left;
}
.cel1{
   background-color: yellow;
   height: 48px;
   width: 64px;
   margin: 5px;
   float: left;
}
.wall{
   background-color: black;
   height: 0px;
   width: 0px;
   clear: both;
}

