#gameField{
   background-color: #808080;
   position: relative;
   display: inline-block;
   width: 222px;
   height: 174px;
   margin-left: 5px;
   margin-top: 5px;
   padding: 5px;
   text-align: center;
}
.celNul{
   background-color: #C0C0C0;
   width: 64px;
   height: 48px;
   margin: 5px;
   float: left;
}
.cel0{
   background-color: #009900;
   height: 48px;
   width: 64px;
   margin: 5px;
   float: left;
}
.cel1{
   background-color: #FF9900;
   height: 48px;
   width: 64px;
   margin: 5px;
   float: left;
}
.wall{
   background-color: black;
   height: 0px;
   width: 0px;
   clear: both;
}

